machine:
  install:
    disk: ${install_disk}
    image: factory.talos.dev/installer/${talos_image_id}:${talos_version}
  network:
    hostname: ${hostname}
  registries:
    config:
      ghcr.io:
        auth: 
          auth: ${ghrc_registry_auth}
  kubelet:
    extraArgs:
      rotate-server-certificates: true
cluster:
  allowSchedulingOnControlPlanes: true
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
  inlineManifests:
    - name: fluxcd-namespace
      contents: |-
        apiVersion: v1
        kind: Namespace
        metadata:
          name: flux-system
    - name: fluxcd
      contents: |-
        ${indent(8,fluxcd_manifest)}
    - name: fluxcd-repo-secret
      contents: |-
        ${indent(8,fluxcd_repo_secret)}
    - name: fluxcd-repo
      contents: |-
        ${indent(8,fluxcd_repo)}
    - name: fluxcd-sync
      contents: |-
        ${indent(8,fluxcd_sync)}
    
    