machine:
  install:
    disk: ${install_disk}
    image: factory.talos.dev/nocloud-installer-secureboot/${talos_image_id}:${talos_version}
  registries:
    config:
      ghcr.io:
        auth: 
          auth: ${ghrc_registry_auth}
  kubelet:
    extraArgs:
      rotate-server-certificates: true
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname} 
auto: off
  